###############################################################
# WhiteSource Unified-Agent configuration file
###############################################################
# GENERAL SCAN MODE: Files and Package Managers
###############################################################
# Organization vitals
######################

#userKey is required if WhiteSource administrator has enabled "Enforce user level access" option
userKey=${{ secrets.WS_USER_KEY }}

projectName=Next Gen Testing Platform
productName=NGTP
wss.connectionTimeoutMinutes=10
wss.url=https://vmey.whitesourcesoftware.com/agent

############
# Policies #
############
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false

###########
# General #
###########
fileSystemScan=false

log.files.level=ERROR

########################################
# Package Manager Dependency resolvers #
########################################
resolveAllDependencies=false

maven.resolveDependencies=true
maven.ignoreSourceFiles=true
maven.ignorePomModules=true
maven.runPreStep=true

###########################################################################################
# Includes/Excludes Glob patterns - Please use only one exclude line and one include line #
###########################################################################################
includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx

#Exclude file extensions or specific directories by adding **/*.<extension> or **/<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar

case.sensitive.glob=false
followSymbolicLinks=true
